*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-design{
    display: flex;
    padding:16px 120px ;
    background-color: #FFFFFF;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.head-list{
    list-style: none;
    display: flex;
    gap:32px;
}
.head-list a{
    text-decoration: none;
    color:#000;
}
.head-left, .head-center, .head-right{
    flex: 1;
}
.head-center{
    display: flex;
    justify-content: center;
}
.head-right{
    display: flex;
    justify-content: flex-end;
}
.btn{
    color: #FFFFFF;
    background-color: #469165;
    padding:12px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.main-sec {
    text-align: center;
    background:url(../images/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 70px 120px 134px 120px;
    gap: 40px;  
}
.main-sec h1{
    margin-top: 16px;
    color: #FFFFFF;
    line-height: 84px;
    font-size: 72px;
    text-align: center;
}
.main-sec h1 span{
    color: #469165;
}
.main-sec p{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    /* justify-content: space-evenly; */
}
.another-btn{
    margin-top: 32px;
    padding: 12px 16px;
    background: transparent;
    border-radius: 5%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
} 
.main-sec >div{
    margin-bottom: 154px;
}

