*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-design{
    display: flex;
    padding:16px 120px ;
    background-color: #FFFFFF;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.head-list{
    list-style: none;
    display: flex;
    gap:32px;
}
.head-list a{
    text-decoration: none;
    color:#000;
}
.head-left, .head-center, .head-right{
    flex: 1;
}
.head-center{
    display: flex;
    justify-content: center;
}
.head-right{
    display: flex;
    justify-content: flex-end;
}
.btn{
    color: #FFFFFF;
    background-color: #469165;
    padding:12px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}