*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
.header-design{
    display: flex;
    padding:16px 120px ;
    background-color: #FFFFFF;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.head-list{
    list-style: none;
    display: flex;
    gap:32px;
}
.head-list a{
    text-decoration: none;
    color:#000;
}
.head-left, .head-center, .head-right{
    flex: 1;
}
.head-center{
    display: flex;
    justify-content: center;
}
.head-right{
    display: flex;
    justify-content: flex-end;
}
.btn{
    color: #FFFFFF;
    background-color: #469165;
    padding:12px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.main-sec {
    text-align: center;
    background:url(../images/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 70px 120px 134px 120px;
    gap: 40px;  
}
.main-sec h1{
    margin-top: 16px;
    color: #FFFFFF;
    line-height: 84px;
    font-size: 72px;
    text-align: center;
}
.main-sec h1 span{
    color: #469165;
}
.main-sec p{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
.another-btn{
    margin-top: 32px;
    padding: 12px 16px;
    background: transparent;
    border-radius: 5%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
} 
.main-sec >div{
    margin-bottom: 154px;
}

.top{
    display: inline-flex;
    align-items: center;
    gap: 6px ;
    padding:8px 12px ;
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    width: 239px;
    transition: transform 0.15s ease,
    box-shadow 0.15s ease;
    background: var(--#30B868, rgb(70, 101, 1));
}
    
.icon-text{
    font-size: 16px;
    font-weight: bold;
}   



.icon-dott{
    width: 16px;
    height: 16px;
    background-color: #469165;
    border-radius: 8px;
    
}
section{
    padding: 25px 120px 120px 120px; 
    background-color: rgb(243, 242, 242);
    height: 500px;

}
.card-section{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;

}
.card-description{
    color:#627382;
    font-size: 16px;
    text-align: center;
}
.card-container{
    gap: 24px;
    margin-top: 44px;
    display: flex;

}
.card{
    background:#FFFFFF;
    padding:16px;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    text-align: center;
    height: 220px;

}
.card h3{
    margin-bottom: 16px;
    font-size: 24;
    font-weight: 600px;
    text-align: center;
}
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    text-align: center;   
}

.icon{

    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
    font-size: 2em;
    padding: 3px;
}
.solution{
    background-color: #FFFFFF;
    padding: 120px 120px;
}
.solution-container{
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
    ;
}   
.image{
    width: 100%;
    max-width: 520px;
}
.lable{
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    letter-spacing: 0.07em;
    margin-bottom: 16px;
    display: inline-block;

}
.text h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:16px ;
}
.description{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 520px;
}
.solution-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.solution-items li{
    font-size:16px ;
    color: #001931;
    margin-bottom: 14px;
    padding-left: 30px;
    position: relative;
}
.solution-items li::before{
    content: url(../images/assets/CheckCircle.png);
    position: absolute;
    left: 0;
    color: #30B868;
    font-weight: 700;
}